:root {
  --checked-color: rgb(0 0 0 / 23%);
  --inChecked-color: #c5cae9;
  --priority-color-m: #ed6c02;
  --priority-color-h: #d32f2f;
  --priority-color-l: #2e7d32;
  --avatar-color: #ddd;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  width: 100vw;
  color: #fff;
  font-size: 20px !important;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* === SCROOL BAR */
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}
/* my components */
.w-list {
  max-height: 404px;
  overflow-y: auto;
}
.w-castum {
  width: 80%;
}
.rd-10 {
  border-radius: 10px !important;
}
.p-8 {
  padding: 5px !important;
}
/*------ my components */

.glass-card {
  width: 240px;
  height: 360px;
  background-color: rgb(223 221 221 / 15%);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(123, 123, 123, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);
  position: relative;
  overflow: hidden;
}

.glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
.contentBox {
  width: 600px;
  height: auto;
  padding: 20px;
  border-radius: 10px;
}
.symbol {
}
/* ListItem */
.css-ansxpy-MuiButtonBase-root-MuiListItemButton-root {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.css-ansxpy-MuiButtonBase-root-MuiListItemButton-root:hover {
  background-color: #edeef1ce !important;
}
.css-ansxpy-MuiButtonBase-root-MuiListItemButton-root::selection {
  background-color: #edeef1ce !important;
}
/* ToogleButton */
.css-1i4vqyu-MuiButtonBase-root-MuiToggleButton-root {
  border-radius: 5px !important;
}
/* custom iconButton */
.css-53g0n7-MuiButtonBase-root-MuiIconButton-root {
  padding: 0px !important;
}

.css-53g0n7-MuiButtonBase-root-MuiIconButton-root:hover {
  transform: scale(1.2) !important;
  color: #122a7d !important;
  background-color: transparent !important;
}
/* custom checkbox */
.css-1umw9bq-MuiSvgIcon-root {
  font-size: 1.2rem !important;
}

.css-1j6lzb4-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked {
  color: #125f7d !important;
}

.MuiInputBase-root:has(
  > .css-1skkqr-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiInput-input
) {
  font-size: small;
}

/* snackbar */
.css-58e1aw-MuiPaper-root-MuiSnackbarContent-root {
  background-color: #38006b !important  ;
}
